*{
  font-family: "DM Serif Display", serif;
  font-weight: 100;
  font-style: normal;
}

#blck{
  background-color: black;
  color: white;
  background: black;
}

#div1 {
  background-image: url("https://media.discordapp.net/attachments/1238338169041059870/1238711082235986030/1715402125359.jpg?ex=66404718&is=663ef598&hm=498823cfc8ec06dae809c0547d3ee2ea2a384869cfa60556318a2c6eddb66f1c&");
  background-color: black;
  height: 750px;
  width: 1320px ;
  color: white;
}

#div2 {
  background-image: url("https://media.discordapp.net/attachments/1210988605452062801/1238705553081893024/Picsart_24-05-11_09-43-31-682.jpg?ex=664041f1&is=663ef071&hm=8ce04e2288e30439129b6a57ce33401ece92265de03497a146c657c400abfdc2&");
  height: 77px;
  margin-left: 70px;
  margin-top: 126px;
  width: 485px;
  background-color: black;
}

#div3 {
  background-image: url("https://cdn.discordapp.com/attachments/1238338169041059870/1238711082235986030/1715402125359.jpg?ex=66404718&is=663ef598&hm=498823cfc8ec06dae809c0547d3ee2ea2a384869cfa60556318a2c6eddb66f1c&");
  background: black
}

#h1, #h2 {
  font-size: 75px;
  line-height: 15px;
  margin-top: 0px;
  margin-left: 70px;
  padding-top: px;
}

#h1 {
  opacity: 0;
  transform: translateX(-100px);
  filter: blur(10px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, filter 0.6s ease-out;
  will-change: opacity, transform, filter;
}

#h1.visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

#h2 {
  opacity: 0;
  transform: translateX(-100px); 
  filter: blur(10px); 
  transition: opacity 0.6s ease-out,transform 0.6s ease-out,filter 0.6s ease-out; 
  will-change: opacity, transform, filter;
}

#h2.visible {
  opacity: 1;
  transform: translateX(0); 
  filter: blur(0);
}

#page2 {
  background-image: url("https://media.discordapp.net/attachments/1210988605452062801/1239114149355847730/Untitled9_20240512124656.jpg?ex=6641be7a&is=66406cfa&hm=1f767385484464d046e64f4eee42c3f2d7d7203b81c50b648d1a0e2aae3a1a10&");
  
  height: 750px;
  width: 1320px;
}

#who {
  color: white;
  font-size: 110px;
  margin-left: 78px;
}

#who {
  opacity: 0;
  transform: translateX(-100px);
  filter: blur(10px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, filter 0.6s ease-out;
  will-change: opacity, transform, filter;
}

#who.visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

#page3 {
  background-image: url("https://media.discordapp.net/attachments/1210988605452062801/1239118723084845076/Untitled13_20240512130505.jpg?ex=6641c2bd&is=6640713d&hm=8798ee3c51015c0034291198f24ee96fd63a46d7d91f8d189c7b7df9bdcc7464&");
  height: 750px;
  width: 1320px;
}

#page4 {
  background-image: url("https://media.discordapp.net/attachments/1210988605452062801/1239206384277524582/Picsart_24-05-12_18-53-25-183.jpg?ex=66421461&is=6640c2e1&hm=bd8c8cceee0b14f932402b933b9d000dcd50b3aa51a6264b562866bce2d52021&");
  height: 750px;
  width: 1320px;
}

#art {
  color: white;
  font-size: 75px;
  margin-left: 69px;
  padding-right: 490px;
/*  text-align: centre;*/
}

#contact {
  background-color: black;
  height: 350px;
  width: 1320px;
}

#cntct {
  color: white;
  font-size: 89px;
  padding-right: 200px;
  margin-left: 77px;
}

#art {
  opacity: 0;
  transform: translateX(-100px);
  filter: blur(10px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, filter 0.6s ease-out;
  will-change: opacity, transform, filter;
}

#art.visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

#cntct {
  opacity: 0;
  transform: translateX(-100px);
  filter: blur(10px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, filter 0.6s ease-out;
  will-change: opacity, transform, filter;
}

#cntct.visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

#background {
  color: white;
  font-size: 150px;
  margin-left: 70px;
  line-height: 1px;
}

#background {
  opacity: 0;
  transform: translateX(-100px);
  filter: blur(10px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, filter 0.6s ease-out;
  will-change: opacity, transform, filter;
}

#background.visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

#coder {
  font-size: 40px;
  padding-left: 75px;
  line-height: 2px;
  font-family: verdana;
  color: white;
}


#coder {
  opacity: 0;
  transform: translateX(-100px);
  filter: blur(10px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, filter 0.6s ease-out;
  will-change: opacity, transform, filter;
}

#coder.visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

#education {
  font-size: 85px;
  padding-top: 120px;
  margin-left: 278px;
  font-family: roboto;
  font-weight: 380;
}
#education {
  opacity: 0;
  transform: translateX(-100px);
  filter: blur(10px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, filter 0.6s ease-out;
  will-change: opacity, transform, filter;
}

#education.visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}
#link {
  color: white;
  text-decoration: none;
  margin-left: 1060px;
  font-size: 30px;
  
}
#cntct {
  line-height: 10px;
}
